{% extends 'user_base.html' %}
{% set account = "account" %}
{% block title %}
   Account
{% endblock %}
{% block content %}
<h1>Account</h1>
<div class="insights">
   <div class="account-profile">
      <h3>My Account</h3>
      <hr>
      <ul>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">How-to Video</a></li>
        <li><a href="#">Help and Support</a></li>
      </ul>
      <hr>
      <ul>
         <h3>Baby Profiles</h3>
         <li><a href="{{url_for('add_baby')}}">
            <span class="material-icons-sharp icons">add_circle</span>Add Baby
         </a></li>
       </ul>
       <hr>
       <ul>
         <h3>My devices</h3>
         <li><a href="#">
            <span class="material-icons-sharp icons">add_circle</span>Add Devices
         </a></li>
       </ul>
   </div>
   
</div>
{% endblock %}