{% extends 'user_base.html' %}
{% set history = "history" %}
{% block title %}
   History
{% endblock %}
{% block content %}

<div class="recent-data">
   <h1>Heart Rate and Oxygen</h1>
   <table>
       <thead>
           <tr>
               <th>Baby Name</th>
               <th>Baby Number</th>
               <th>BPM</th>
               <th>Oxigen Level -%</th>
               <th>Status</th>
               
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>Alex</td>
               <td>5659859</td>
               <td>98 bpm</td>
               <td>86 %</td>
               <td class="warning">Zone 2</td> 
           </tr>
           <tr >
               <td>Mihai</td>
               <td>8954789</td>
               <td>125 bpm</td>
               <td>67 %</td>
               <td class="danger">Zone 4</td>
           </tr>
           <tr >
               <td>Cristian</td>
               <td>7595994</td>
               <td>85 bpm</td>
               <td>80 %</td>
               <td class="warning">Zone 3</td>     
        </tr>
       </tbody>
   </table>
   <a href="#">Show All</a>
</div>


{% endblock %}