{% extends 'user_base.html' %}
{% set home = "home" %}
{% block title %}
   Home
{% endblock %}
{% block content %}
                <h1>Dashboard</h1>
                <div class="date">
                    <input type="date">
                </div>
                <div class="insights">
                    <div class="baby">
                        <span class="material-icons-sharp">child_care</span>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Baby</h3>
                                <h1>6589</h1>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>45%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted"> Last 24 Hours</small>
                    </div>
                
                    <div class="baby">
                        <span class="material-icons-sharp">monitor_heart</span>
                        <div class="middle">
                            <div class="left">
                                <h3>Total Zone 1-4</h3>
                                <h1>5056</h1>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>85%</p>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted"> Last 24 Hours</small>
                    </div>
                    
                </div>
                
                <div class="recent-data">
                    <h2>Recent Data</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Baby Name</th>
                                <th>Baby Number</th>
                                <th>BPM</th>
                                <th>Oxigen Level -%</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alex</td>
                                <td>5659859</td>
                                <td>98 bpm</td>
                                <td>86 %</td>
                                <td class="warning">Zone 1</td>
                                <td class="primary">Details</td>
                            </tr>
                            <tr>
                                <td>Jhon</td>
                                <td>8954789</td>
                                <td>125 bpm</td>
                                <td>67 %</td>
                                <td class="warning">Zone 4</td>
                                <td class="primary">Details</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>

{%endblock%}